
@{
    Layout = "_Layout";
}

<div class="content">
    <div>
        <div class="row">
            <div class="col-lg-12">
                <div class="hpanel">
                    <div class="panel-heading">
                        <div class="panel-tools">
                            <a class="showhide"><i class="fa fa-chevron-up"></i></a>
                            <a class="closebox"><i class="fa fa-times"></i></a>
                        </div>
                        Görev Yöneticisi
                    </div>
                    <div class="panel-body">
                        <div id='calendar'></div>
                    </div>
                    <div class="panel-footer">
                      
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>

<script src="~/lib_local/moment/moment.js"></script>

<script type="text/javascript">

    var resourceData;
    var eventData;
    var calendarEl;
    var calendar;

    $(document).ready(function () {
        GorevListesi();
    });


    function GorevListesi() {

        resourceData = null;
        eventData = null;

        Network.ajaxRequest({
            type: "POST",
            url: "/Gorev/Listesi",
            data: "",
            beforeSend: function () {
            },
            success: function (data) {
                console.log(data.Result);

                resourceData = data.Result.Resource;
                eventData = data.Result.Event;

                calendarEl = document.getElementById('calendar');

                if (calendar != null) {
                    calendar.destroy();
                }

                var currentView = "resourceTimelineDay";
                calendar = new FullCalendar.Calendar(calendarEl, {
                    schedulerLicenseKey: '0613983340-fcs-1579172423',
                    locale: 'tr',
                    contentHeight: 600,
                    initialView: 'resourceTimelineDay',
                    plugins: ['interaction', 'dayGrid', 'timeGrid', 'resourceTimeline'],
                    editable: true,
                    aspectRatio: 1.8,
                    header: {
                        left: 'prev,next',
                        center: 'title',
                        right: 'resourceTimelineDay,resourceTimelineWeek,resourceTimelineMonth'
                    },
                    displayEventTime: true,
                    weekNumbers: true,
                    eventRender: function (info) {

                        if (!info.isMirror) {
                            $(info.el).tooltip({ html: true, title: info.event.extendedProps.description });
                            //console.log(info.event.extendedProps.description);
                        }
                    },
                    eventAfterAllRender: function (view) {
                        
                        $date = $('.fc-widget-header[data-date=\'' + (new Date()) + '\']', view.calendar.el);
                        //$date = $('.fc-today', view.calendar.el);

                        $scroller = $('.fc-time-area > div > .fc-scroller', view.calendar.el);

                        $('.fc-scroller').scrollLeft($date.position().left);

                    },
                    eventClick: function (info) {

                  
                        window.location.href = "/Gorev/Detay?Id=" + info.event.id+"";
                    },
                    defaultView: currentView,
                    views: {
                        resourceTimelineDay: {
                            type: 'resourceTimeline',
                            duration: { days: 1 },
                            buttonText: 'Günlük'
                        },
                        resourceTimelineWeek: {
                            type: 'resourceTimeline',
                            duration: { days: 7 },
                            buttonText: 'Haftalık'
                        },
                        resourceTimelineMonth: {
                            type: 'resourceTimeline',
                            duration: { days: 31 },
                            buttonText: 'Aylık'
                        }
                    },
                    nowIndicator: true,
                    resourceAreaWidth: '15%',
                    resourceColumns: [
                        {
                            labelText: 'Kullanıcı',
                            field: 'AdSoyad'
                        },
                    ],
                    eventOverlap: false,
                    resources: resourceData,
                    events: eventData,
                });

                calendar.render();

            },
            error: function (a, b, c) {

            },
            complete: function () {
            }
        });

    }
</script>

<style>


    p {
        text-align: center;
    }

    .fc-resource-area tr:hover {
        cursor: pointer;
        background: #FFC107;
    }

    .fc-content tr:hover {
        background: #FFC107;
        /*opacity: 0.4;*/
        cursor: pointer
    }

    .popper,
    .tooltip {
        position: absolute;
        z-index: 9999999999999999999;
        background: #FFC107;
        color: black;
        width: 150px;
        border-radius: 3px;
        /*box-shadow: 0 0 2px rgba(0,0,0,0.5);*/
        /*padding: 10px;*/
        text-align: center;
    }

    .style5 .tooltip {
        background: #1E252B;
        color: #FFFFFF;
        max-width: 250px;
        width: auto;
        font-size: .8rem;
        padding: .5em 1em;
    }

    .popper .popper__arrow,
    .tooltip .tooltip-arrow {
        width: 0;
        height: 0;
        border-style: solid;
        position: absolute;
        margin: 5px;
    }

    .tooltip .tooltip-arrow,
    .popper .popper__arrow {
        border-color: #FFC107;
    }

    .style5 .tooltip .tooltip-arrow {
        border-color: #1E252B;
    }

    .popper[x-placement^="top"],
    .tooltip[x-placement^="top"] {
        margin-bottom: 5px;
    }

        .popper[x-placement^="top"] .popper__arrow,
        .tooltip[x-placement^="top"] .tooltip-arrow {
            border-width: 5px 5px 0 5px;
            border-left-color: transparent;
            border-right-color: transparent;
            border-bottom-color: transparent;
            bottom: -5px;
            left: calc(50% - 5px);
            margin-top: 0;
            margin-bottom: 0;
        }

    .popper[x-placement^="bottom"],
    .tooltip[x-placement^="bottom"] {
        margin-top: 5px;
    }

        .tooltip[x-placement^="bottom"] .tooltip-arrow,
        .popper[x-placement^="bottom"] .popper__arrow {
            border-width: 0 5px 5px 5px;
            border-left-color: transparent;
            border-right-color: transparent;
            border-top-color: transparent;
            top: -5px;
            left: calc(50% - 5px);
            margin-top: 0;
            margin-bottom: 0;
        }

    .tooltip[x-placement^="right"],
    .popper[x-placement^="right"] {
        margin-left: 5px;
    }

        .popper[x-placement^="right"] .popper__arrow,
        .tooltip[x-placement^="right"] .tooltip-arrow {
            border-width: 5px 5px 5px 0;
            border-left-color: transparent;
            border-top-color: transparent;
            border-bottom-color: transparent;
            left: -5px;
            top: calc(50% - 5px);
            margin-left: 0;
            margin-right: 0;
        }

    .popper[x-placement^="left"],
    .tooltip[x-placement^="left"] {
        margin-right: 5px;
    }

        .popper[x-placement^="left"] .popper__arrow,
        .tooltip[x-placement^="left"] .tooltip-arrow {
            border-width: 5px 0 5px 5px;
            border-top-color: transparent;
            border-right-color: transparent;
            border-bottom-color: transparent;
            right: -5px;
            top: calc(50% - 5px);
            margin-left: 0;
            margin-right: 0;
        }
</style>

